# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
instance/

# Environment & secret files
.env
*.env
*.db
*.sqlite3

# IDE/editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test & Coverage
.pytest_cache/
.mypy_cache/
.tox/
.coverage
htmlcov/

# Migrations cache
migrations/__pycache__/
